.nav{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 30px 40px;
    border-top: 1px solid rgba(121,121,121,0.2);
}

.nav__ul{
    display: flex;
    justify-content: space-between;
}

.nav__a{
    position: relative;
}

.nav__notification{
    position: absolute;
    left: 15px;
    bottom:10px;
    z-index: 1;
    width: 15px;
    height: 15px;
}

.nav__ellipsis{
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    position:absolute;    
    left: 20px;
    bottom:20px;
    opacity: 0.8;
}
