@import "reset.css";
@import "components/header.css";
@import "screens/main.css";
@import "variable.css";
@import "components/NavigationBar.css";
@import "screens/screenHeader.css";
@import "screens/friends.css";
@import "components/user.css";
@import "screens/find.css";
@import "components/icon-row.css";

@import "screens/chats.css";
@import "components/badge.css";

@import "screens/more.css";
@import "components/alt-screen-header.css";
@import "screens/setting.css";
@import "screens/chat.css";


body{
    color: #2e363e;
}

.main-screen{
    margin-top: 40px;
}

.screen__main{
    padding: 0px var(--horizontal-space);
}